
source/__Previews/
source/History/
source/debug.log
source/Project Logs for CLS_Project/ESS SCH ECO 10-11-2018 7-19-06 PM.LOG
source/Project Logs for CLS_Project
source/CLS_Project.PrjPcbStructure
source/Project Outputs for CLS_Project
